// .paymentDateBar {
//     background-color: ;
// }
.icon {
    margin-right: 9%;
    margin-left: 9%;
}
.ion-icon {
    font-size: x-large;
}
.payment-content{
    display: flex;
    align-items: center;
}
.queryType {
    margin: 3%;
    font-size: large;
}
.paymentStatus {
    display: flex;
    margin: 3%;
}
.walletIcon {
    padding-right: 0.5rem;
    font-size: x-large;
}