<app-header menu="false" defHref="/sidebar/tabs/tabs/answer" backButton="true" header="Change Password"></app-header>

<ion-content>
  <div class="screenCenter">
    <app-form [formFields]="changePassFields" [formGroup]="changePasswordForm" labelColor="primary"></app-form>
    <div style="width: 100%; text-align: center; color: var(--ion-color-primary);">
      <h3>{{ responseMssg }}</h3>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-button style="font-size: large; --border-radius: 15px; margin-right: 2%; margin-left: 2%;" [disabled]="!this.changePasswordForm.valid" class="buttonText" expand="block" class="buttonText" (click)="resetPass()">Reset Password</ion-button>
  </ion-toolbar>
</ion-footer>