
.contentCard {
    box-shadow: none !important;
}
.card {
    display: flex;
}
ion-thumbnail {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    ion-img {
        width: auto;
        height: auto;
    }
}
ion-card-title {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}
ion-card-header {
    display: flex;
    width: 100%;
    height: fit-content;
}
.card-content {
    width: 100%;
}
.line {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: var(--ion-color-dark);

}