<app-header defHref="/sidebar/healthcheck" header="Financial Health Check"></app-header>

<ion-content>
  <div>
    <ion-button style="--border-radius: 15px;" expand="block" class="buttonText addMoreButton" (click)="presentModal()">
      <div style="width:100%;text-align: left;">Add More</div>
      <div>
        <ion-icon name="add"></ion-icon>
      </div>
    </ion-button>
    <app-healthcheck-loan-table [loanData]="loanData"></app-healthcheck-loan-table>
  </div>
</ion-content>
<ion-footer>
  <ion-button style="--border-radius: 15px; margin: 2%;" class="buttonText" routerLink="/sidebar/healthcheck-confirm" expand="block" >Next</ion-button>
</ion-footer>