<app-header header="Forgot Password" defHref="/login"></app-header>

<ion-content>
  <div class="screenCenter">
    <span>
      <h3>Forgot your password?</h3>
      Enter your email to recieve your password<br><br><br>

      <div style="width: 100%; text-align: center; color: var(--ion-color-primary);">
        <h3>{{ responseMssg }}</h3>
      </div>
      <app-form [formGroup]="forgotPasswordForm" [formFields]="forgotFormFields" labelColor="primary"></app-form>
      <div class="buttonContainer">
        <ion-button style="--border-radius: 15px;" size="large" class="buttonText" type="submit" expand="block" (click)="submit()"> Send </ion-button>
      </div>
    </span>
  </div>
</ion-content>