.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // background-color: blue;
}
.subContainer {
    margin-top: auto;
    margin-bottom: auto;
}
.noNetworkImageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: red;
}
.noNetworkImage{
    width: 80%;
    height: auto;
}
.noNetworkTextContainer{
    display: flex;
    width: 70%;
    // background-color: green;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.noNetworkText{
    width: 100%;
    text-align: center;
    font-size: x-large;
}
.retryButton{
    width: 100%;
    display: flex;
    justify-content: center;
}