.card-header{
    display: flex;
    color: var(--ion-color-primary);
}
tr {
    border-top: 1px solid #e8e8e8;
}
.first-child {
    border-top: none;
}
td{
    padding-left: 2% ;
    padding-top: 4%;
    padding-bottom: 4%;
}
table{
    width: 100%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}
.amount{
    text-align: center;
    
}
.title {
    font-weight: bold;
    width: 75%;
}