app-form {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.screenCenter {
    padding-top: 3%;
    display: flex;
    flex-direction: column;
}
.accntInfoCards {
    width: 20rem;
    margin: 0 !important;
}
.element {
    width: 100px;
}