<app-header header="Ask Question" defHref="/sidebar/tabs/tabs/query-healthcheck"></app-header>

<ion-content>
  <div class="form">
    <app-form [formGroup]="askQuery" [formFields]="askQueryFields" labelColor="primary"></app-form>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button style="font-size: larger; --border-radius: 15px; margin-left: 2%; margin-right: 2%;" class="buttonText" expand="block" [disabled]="!askQuery.valid" (click)="submit()">Next</ion-button>
  </ion-toolbar>
</ion-footer>