<app-header backButton="false" header="About Us" menu="true"></app-header>

<ion-content>
  <div class="backgroundCover">
    <ion-avatar>
      <ion-img src="assets/ic_logo_512.png"></ion-img>
    </ion-avatar>
  </div>
  <div style="padding: 5%; text-align: justify; text-justify: auto;">
    <h2>Our Mission</h2><br>
    An economy is judged by the amount of financial literacy and awareness amongst its people. Our mission is
    to <b>‘Compound Financial literacy at an exponential rate’</b> and what better way of doing it, than through a mobile
    based application. With more than 300 million mobile users in India we hope to cover the ground and be at par with
    the developed economies in terms of financial literacy sooner than later.<br>
    <h2>Our Vision</h2>
    <b>One and all money matters resolved.</b><br>
    <h2>Our Values</h2>
    <b>Integrity</b> - Honesty in the services provided.<br><br>
    <b>Competence</b> - Have the necessary knowledge, skills and experience.<br><br>
    <b>Objectivity</b>- Disclosure of limitations in case not able to provide objective financial services.<br><br>
    <b>Confidentiality</b> - with regards client information.<br><br>
    <b>Fairness</b> - Fair and reasonable fee structure.<br><br>
    <b>Professionalism</b>- Empanelled consultants conduct themselves in the utmost professional manner.<br><br>
    <b>Compliance</b>- Follow the Code of Ethics and Best Practice Standards as mandated by various Boards and
    Institutes.<br><br>
    <b>Diligence</b>- Careful and persistent services provided skilfully.<br><br><br>
    With these values we hope to hand hold our clients through their good times and bad and taking them on the path to
    wealth and prosperity.
  </div>
</ion-content>