<app-header header="Financial Health Check" defHref="/sidebar/tabs/tabs/query-healthcheck"></app-header>

<ion-content>
  <div class="content">
    <app-form [formFields]="healthcheckFields" [formGroup]="healthcheckForm" labelColor="primary"></app-form>
  </div>
</ion-content>

<ion-footer>
  <div class="buttonContainer hcBtns">
    <div class="btn">
      <ion-button routerLink="/sidebar/healthcheck-confirm" (click)="submit()" class="buttonText footerDoubleButtonLeft"
        type="submit" expand="block" fill="outline" [disabled]="!healthcheckForm.valid">skip</ion-button>
    </div>
    <div class="btn">
      <ion-button routerLink="/sidebar/healthcheck-loan" (click)="submit()" class="buttonText footerDoubleButtonRight" type="submit"
        expand="block" [disabled]="!healthcheckForm.valid">next</ion-button>
    </div>
  </div>
</ion-footer>